<div class="header-title">
    <div class="header-text">
        <h3>Паважаныя, сябры! Калі хто з вас хоча навучыцца прасці, ткаць і вышываць зусім задарма, звяртайцеся ў Лазавіцкую сярэднюю школу. Вас запрашае Музей беларускага ручніка.</h3>
    </div>
    <div class="header-underText">
        <p>Школьны – гэта лад жыцця,
            Краязнаўчы – значыць частка краіны.
            Музей – захавальнік вобраза Айчыны...
            Памятаць мінулае трэба здаўна.</p>
        <p>У нашым музеі: прас і ручнік,
            Старадаўнія кросны драўляныя…
            Ці можна любіць свой край
            Не ведаючы гісторыю края?</p>
    </div>
</div>