<div class="wrapper-game">
    <div class="title-game">
        <h1>Інтэрактыўныя заданні</h1>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Квіз
            </h3>
        </div>
        <div class="icon"><a href="../../../game/quiz/index.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Беларускі ручнік сваімі рукамі
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Беларускі ручнік сваімі рукамі.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Беларускія мэблевыя вырабы
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Беларускія мэблевыя вырабы.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Беларускія сельскагаспадарчыя пабудовы
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Беларускія сельскагаспадарчыя пабудовы.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Беларускія словы
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Беларускія словы.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Віктарына “Зямля пад белымі крыламі”
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Віктарына “Зямля пад белымі крыламі”.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Жаночыя і мужчынскія галаўныя ўборы
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Жаночыя і мужчынскія галаўныя ўборы.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Крыжаванка _Беларускі мужчынскі і жаночы абутак
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Крыжаванка _Беларускі мужчынскі і жаночы абутак_.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Крыжаванка
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Крыжаванка.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Посуд, бандарныя і ганчарныя вырабы
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Посуд, бандарныя і ганчарныя вырабы.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Прыказкі і прымаўкі як мудрыя дарадцы
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Прыказкі і прымаўкі як мудрыя дарадцы.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Свіслацкія папулярныя народныя стравы
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Свіслацкія папулярныя народныя стравы.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Складанка _Мужчынская і жаночая вопратка
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Складанка _Мужчынская і жаночая вопратка_.html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
    <div class="subtitle-game">
        <div class="title-text">
            <h3>
                Суаднясіце назвы посуду
            </h3>
        </div>
        <div class="icon"><a href="../../../game/Суаднясіце назвы посуду..html"><img src="../../../img/icon/free-icon-computer-game-720718.png" alt=""></a></div>
    </div>
   
</div>              