@import url("null.css");
.wraper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wraper .header {
  background-color: #ca5050;
  font-size: 25px;
}

.wraper .header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0px;
  color: aliceblue;
  cursor: pointer;
}

.wraper .header .title a {
  text-decoration: none;
  color: #fff;
}

.wraper .header .title .title__about {
  padding: 0px 60px 0px 0px;
}

.wraper .content {
  width: 100%;
  background: url("../img/font.jpg") round;
  background-size: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 auto;
  text-align: center;
  color: #ca5050;
  font-size: 25px;
}

.wraper .content h1 {
  font-size: 50px;
  margin: 150px 0px 120px;
}

.wraper .content h1 span {
  font-weight: 900;
}

.wraper .content .page-title {
  font-size: 50px;
  padding: 10px;
  margin: 80px 0px 0px 0px;
  font-weight: 900;
}

.wraper .content .questions__header {
  margin: 85px 0px;
  font-size: 50px;
}

.wraper .content .questions {
  margin: 40px 350px 150px;
  line-height: 30px;
}

.wraper .content .questions span {
  font-weight: 700;
}

.wraper .content .resault__none {
  display: none;
}

.wraper .content .resault__title {
  font-size: 30px;
  margin: 20px 0px 0px 0px;
  color: #810d0d;
}

.wraper .content .resault__title span {
  font-weight: 900;
}

.wraper .content .img__none {
  display: none;
}

.wraper .content .img {
  display: inline-block;
  width: 500px;
  height: 300px;
  border: 3px solid #ca5050;
  border-radius: 15px;
  overflow: hidden;
  text-align: -webkit-center;
}

.wraper .content .img img {
  width: 100%;
}

.wraper .content .conten-conten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.wraper .content .conten-conten .caption-table {
  font-weight: 700;
}

.wraper .content .conten-conten .caption-table p {
  padding: 40px 0px 40px 0px;
}

.wraper .content .conten-conten table {
  border-collapse: separate;
  border-spacing: 20px;
  font-size: 25px;
}

.wraper .content .conten-conten table td {
  padding: 15px 35px;
  background: #ca5050;
  border-radius: 15px;
}

.wraper .content .conten-conten table td a {
  text-decoration: none;
  color: #fff;
}

.wraper .content button {
  display: block;
  margin: 0 auto;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 20px 60px;
  color: whitesmoke;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  background: #d44949 -webkit-gradient(linear, left top, left bottom, from(#e95959), to(#da8181));
  background: #d44949 linear-gradient(#e95959, #da8181);
  -webkit-box-shadow: inset #2a2a2a 0 -1px 1px, inset 0 1px 1px #ec5050, #cc6969 0 0 0 1px, rgba(243, 82, 82, 0.3) 0 2px 5px;
          box-shadow: inset #2a2a2a 0 -1px 1px, inset 0 1px 1px #ec5050, #cc6969 0 0 0 1px, rgba(243, 82, 82, 0.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

.wraper .content button:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.wraper .content button:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(207, 89, 89, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  -webkit-box-shadow: 0 -1px 3px rgba(212, 111, 111, 0.3), 0 1px 1px #fff, inset 0 1px 2px rgba(228, 158, 158, 0.8), inset 0 -1px 0 rgba(238, 18, 18, 0.05);
          box-shadow: 0 -1px 3px rgba(212, 111, 111, 0.3), 0 1px 1px #fff, inset 0 1px 2px rgba(228, 158, 158, 0.8), inset 0 -1px 0 rgba(238, 18, 18, 0.05);
}

@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

.wraper .content .button__none {
  display: none;
}

.wraper .footer {
  background-color: #ca5050;
  height: 95px;
}

.wraper .footer .fotter__title {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  padding: 35px 0px 0px 0px;
}
