@import "reset";

$grey: #170f0f;
$headFoot: #FFF8EE;
$colorTitle: #170f0f;

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: $grey;
}

body {
  min-width: 700px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container,
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: $headFoot;
  border-bottom: 10px solid;
  border-image: url(../img/border.jpg) 100 round;
  
}
.footer-container{
 flex: 0 0 auto;
}
.header{ 
  display: flex;
  height: 100%;
  max-width: 1024px;
  align-items: center;
  justify-content: center;
  .header-img{
    
    img{
      width: 75px;
      height: 75px;
      
    }
  }
}

.header__link,
.footer__info {
  font-size: 14px;
}

.header__link {
  text-transform: uppercase;
  margin: 0 20px;
  text-align: center;
  transition: all .2s;

  &:hover,
  &.active {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    color: white;
    background-color: #a5a1a1;
    border-radius: 15px;
    padding: 10px;
  }
  .dropdown{
    position: relative;
    display: inline-block;
    
      &:hover .dropdown-content {
        display: block;
      }
    .dropbtn{
     text-transform: uppercase;
     cursor: pointer;
     transition: all .2s;

      &:hover,
      &.active {
        color: white;
      }
    }
    .dropdown-content{
      display: none;
      position: absolute;
      left:50%;
      transform:translate(-50%);
      background-color: #f1f1f1;
      min-width: 220px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      text-align: center;
      a{
        color: black;
        padding: 12px 0;
        text-decoration: none;
        display: block;
        
        transition: all .2s;
        &:hover{
          background-color: #a5a1a1;
          color:#4f4e4e;
        }
      }
    }
  }

}

.content-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-image: url('../img/background/d7d3314f64eebe5411b615eb9ckv-russkij-stil-rushnik-8.jpg');
  background-size: 100%;
  background-attachment: fixed;
  
  .gp-gallery-picture-zoom {
    border: 1px solid #bbb;
    margin: -6px 0 0 -6px;
    position: absolute;
    z-index: 100;
    padding: 5px;
    background: white;
    box-shadow: 0 0 10px #999;
  }
  .gp-gallery-picture-hover {
    box-shadow: 1px 1px 5px #333;
  }
  .wrapper-galery{
    max-width: 980px;
    background-color:$headFoot;
    margin-bottom: auto;
    margin-top: -50px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    padding-top: 30px;
    h1{
      font-size: 48px;
      text-align: center;
    }
  .pictures {
    margin: 50px auto;
    width: 980px;
  }
  .clear {
    clear: both;
  }
}
}

.page-title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  
}



.header-content__inner{
  max-width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  

  .header-container__contact{

    .header-contact__text{
      margin: 50px 0;
      text-align: center;
      font-size: 40px;
      line-height: 25px;
    }

      .contact-information{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 0 40px;

        .contact-information__map{
          border-radius: 15px;
        }
        .contact-information__info{
          font-size: 20px;
          line-height: 30px;
          font-weight: 600; 
          .address,.tel,.mail{
            margin: 20px 0;
            
          }
        }
      }
      
  }
}

.header-contact__button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 75px 0;

  .disabled {
     pointer-events: none;
  }
  .button{
     padding: 30px 120px 30px 120px;
     border-radius: 15px;
     font-size: 20px;
     border: none;
     border: #000000 solid 1px;
     background-color: $headFoot;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     transition: all .2s;
     &:hover {
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
       color: white;
     }
  }
 }

.wrapper-none{
  display: none;
}
.wrapper{
  flex-grow: 1;
  #form {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: $headFoot;
    border-radius: 30px;

    .form__left-decoration, 
    .form__right-decoration {
      position: absolute;
      width: 50px;
      height: 20px;
      background: #f69a73;
      border-radius: 20px;
    }

    .form__left-decoration {
      bottom: 60px;
      left: -30px;
    }

    .form__right-decoration {
      top: 60px;
      right: -30px;
    }

    .form__left-decoration:before, 
    .form__left-decoration:after, 
    .form__right-decoration:before, 
    .form__right-decoration:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 30px;
      background: $headFoot;
    }

    .form__left-decoration:before {
      top: -20px;
    }

    .form__left-decoration:after {
      top: 20px;
      left: 10px;
    }

    .form__right-decoration:before {
      top: -20px;
      right: 0;
    }

    .form__right-decoration:after {
      top: 20px;
      right: 10px;
    }

    .form__circle {
      position: absolute;
      bottom: 80px;
      left: -55px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $headFoot;
    }

    .form__wrapper {
      padding: 50px;
      text-align: center;
      h3 {
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: $grey;
      }
      .form__field-inner {
        margin-bottom: 10px;
      }
      
      .form__field-inner input, .form__field-inner textarea {
        display: block;
        width: 100%;
        padding: 8px 20px;
        background: #E9EFF6;
        border-width: 0;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
      }
      
      .form__btn {
        border-radius: 15px;
        margin-top: 20px;
        background: $headFoot;
        border-bottom: 4px solid #000000;
        color: $grey;
        font-size: 14px;
        padding: 5px 10px;
        transition: all .2s;
        &:hover{
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            color: white;
        }
      }
      
      .form__error {
        color: red;
        display: block;
        font-size: 12px;
      }
      
      .form__send-result{
        font-size: 12px;
        color: green;
      }
      

    }
  }
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color:$headFoot;
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    margin-top: -50px;
    

    

  .header-title{
    max-width: 650px;
    padding-top: 50px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    .header-headline{
      text-align: center;
      margin-bottom: 20px;
      font-size: 28px;
      h1.custom-color{
        color: $colorTitle;
      }
    }
    .header-text{
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      
     h3.custom-color{
        color: $colorTitle;
      }
    }

    .header-underText{
      display: flex;
      gap: 18px; 
      margin-bottom: 20px;
      text-align: center;
      font-size: 18px;
      p{
        color: $colorTitle;
      }
    }

  }
  .swiper {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 900px;
    border-radius: 15px;
    margin-bottom: 20px;
    .swiper-wrapper {
  
      .swiper-slide {
        text-align: center;
  
        img{
          max-width: 100%;
        }
      }
    }
    .swiper-pagination {
      font-size: 30px;
    }
        
    
  
  }
}


  
.wrapper-document{
  max-width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    
  .document-title{
    margin: 30px 0 60px 0;
    h1{
      text-align: center;
      font-size: 48px;
      font-weight: 600;
    }
  }

  .document-link{
    margin-bottom: 50px;
    font-size: 20px;
    ol>li{
      margin: 30px;
      padding-left: 10px;
      text-decoration: underline;
      

      
    }
  }
}
.wrapper-card{
  max-width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);

  .card-title{
    margin: 30px 0 60px 0;
    

      h1{
        
        text-align: center;
        font-size: 48px;
        font-weight: 600;
      }
    }
  

  .card-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0 100px;
    margin-bottom: 60px;

    .card-info__photo{
      
      img{
        max-width: 350px;
        border-radius: 15px;
      }
    }
    .card-info__title{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      border-radius: 15px;
      padding: 5px;

      p{
        font-size: 25px;
        padding: 15px 0;
        span{
          font-weight: 600;
        }
      }

    }
    
  }

  .card-text{
    padding: 0 30px;
    h2{
      font-size: 36px;
      text-align: center;
      margin: 80px 0;
    }

    h3{
      font-size: 26px;
      margin: 25px 0 10px 0;

    }

    p{
      text-align: justify;
      font-size: 20px;
      line-height: 30px;
    }
    ol>li{
      font-size: 20px;
      line-height: 30px;
    };
  }
  .img-card{
    max-width: 900px;
    img{
      width: 100%;
    }
  }
 
}

.wrapper-video{
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    .title{
      margin: 75px 0;
      h1{
        font-size: 48px;
        text-align: center;
      }
    }
    .container-video{
      margin: 50px 0 100px 0;
      .title-video{
        margin-bottom: 25px;
        h2{
          font-size: 36px;
          text-align: center;
        }
      }
      .video-video{
        text-align: center;
      }
    }
}

.wrapper-class{ 
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

    .title-class{
      width:600px;
      margin: 75px 0;
      h1{
        text-align: center;
        font-size: 48px;
      }
    }
    .inner-class,.inner-ecscurs{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    .title-load{
       width: 350px;
      .title-text{
        margin-bottom: 20px;
        h3{
          font-size: 28px;
          text-align: center;
        }
      }
      .icon{
        margin-bottom: 50px;
        text-align: center;
        a>img{
          max-width: 75px;
        }
      }
    }
  }
}
.wrapper-suitcase{
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  .suitcase-title{
    margin: 75px 0;
      h1{
        text-align: center;
        font-size: 48px;
    }
  }
  .suitcase-text{
    font-size: 20px;
    padding: 20px;
    p{
     text-align: justify;
      text-indent: 20px;
    }
  }
}
.wrapper-game{
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  .title-game{
    width:600px;
    margin: 75px auto;
    text-align: center;
      h1{
        font-size: 48px;
      }
    
  }
  .inner-game{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
  .subtitle-game{
    width: 350px;
    .title-text{
      margin-bottom: 20px;
      h3{
        font-size: 28px;
        text-align: center;
      }
    }
    .icon{
      margin-bottom: 50px;
      text-align: center;

        a>img{
          max-width: 75px;
        }
    }

  }
}
}
.wrapper-material{ 
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

    .title-material{
      width:600px;
      margin: 75px 0;
      h1{
        text-align: center;
        font-size: 48px;
      }
    }
    .inner-material{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

    .subtitle-material{
       width: 350px;
      .title-text{
        margin-bottom: 20px;
        h3{
          font-size: 28px;
          text-align: center;
        }
      }
      .icon{
        margin-bottom: 50px;
        text-align: center;
        a>img{
          max-width: 75px;
        }
      }
    }
  }
}
.wrapper-vrmuzbel{ 
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

    .title-vrmuzbel{
      width:600px;
      margin: 75px 0;
      h1{
        text-align: center;
        font-size: 48px;
      }
    }
    .inner-vrmuzbel{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    .subtitle-vrmuzbel{
       width: 350px;
      .title-text{
        margin-bottom: 20px;
        h3{
          font-size: 28px;
          text-align: center;
        }
      }
      .icon{
        margin-bottom: 50px;
        text-align: center;
        a>img{
          max-width: 75px;
        }
      }
    }
  }
}

.wrapper-achieving{
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-achieving{
    width:600px;
    margin: 75px 0;
    h1{
      text-align: center;
      font-size: 48px;
    }
  }
  .swiper {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 900px;
    border-radius: 15px;
    margin-bottom: 20px;
    .swiper-wrapper {
  
      .swiper-slide {
        text-align: center;
  
        img{
          max-width: 100%;
        }
      }
    }
    .swiper-pagination {
      font-size: 30px;

    }
  }
}

.wrapper-сooperation{
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-сooperation{
    width:600px;
    margin: 75px 0;
    h1{
      text-align: center;
      font-size: 48px;
    } 
    
    
  }
  .title-img{
    margin-top: 0;
    width: 850px;
    img{
    
      width: 100%;
    }
  }
  .text-сooperation{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      border-radius: 15px;
    margin: 50px 0 25px 0;
    h3{
      font-size: 36px;
      text-align: center;
      margin-bottom: 15px;
    }
    p{
      text-align: justify;
      font-size: 22px;
      padding: 15px;
    }
    ul>li{
      font-size: 22px;
      margin:  25px;
    }
    
  }
  .text-img{
    width: 850px;
    img{
      width: 100%;
    }
  }
  .swiper {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 900px;
    border-radius: 15px;
    margin-bottom: 20px;
    .swiper-wrapper {
  
      .swiper-slide {
        text-align: center;
        width: 550px;
        height: 450px;
        img{
          
          width: 100%;
          height:100%;
          object-fit: contain;
        }
      }
    }
    .swiper-pagination {
      font-size: 30px;
    }
  }
}

.wrapper-materialwork{ 
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

    .title-materialwork{
      width:600px;
      margin: 75px 0;
      h1{
        text-align: center;
        font-size: 48px;
      }
    }
    .inner-materialwork{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    .subtitle-materialwork{
       width: 350px;
      .title-text{
        margin-bottom: 20px;
        h3{
          font-size: 28px;
          text-align: center;
        }
      }
      .icon{
        margin-bottom: 50px;
        text-align: center;
        a>img{
          max-width: 75px;
        }
      }
    }
  }
}

.wrapper-vr{
  width: 900px;
  background-color:$headFoot;
  margin-bottom: auto;
  margin-top: -50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-vr{
    width:600px;
    margin: 75px 0;
    h1{
      text-align: center;
      font-size: 48px;
    }
  }
.swiper {
    max-width: 900px;
    border-radius: 15px;
    margin-bottom: 20px;
    .swiper-wrapper {
  
      .swiper-slide {
       
  
        img{
          max-width: 100%;
        }
      }
    }
    .swiper-pagination {
      font-size: 30px;
    }
  }
}
